.btn,
.btn:link,
.btn:visited {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1rem 3rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all 0.2s;
	position: relative;
	border: none;
	cursor: pointer;
}

.enter-credentials-btn {
	width: 75%;
	border: 2px solid var(--primary-blue);
	margin: 1rem 0;
	background-color: var(--primary-white);
}

.enter-credentials-btn:hover {
	background-color: var(--primary-blue);
	color: var(--primary-white);
}

.login-btn {
	margin: 0 2rem;
	font-weight: 500;
	color: white;
	background-color: var(--primary-blue);
	border: 3px solid var(--primary-blue);
}

.login-btn:hover {
	background-color: #1e3050;
}

.signup-btn {
	margin: 0 2rem;
	font-weight: 500;
	color: var(--primary-blue);
	border: 3px solid var(--primary-blue);
}
.signup-btn:hover {
	color: white;
	background-color: var(--primary-blue);
	border-color: #1e3050;
}

@media screen and (max-width: 800px) {
	.login-btn .signup-btn {
		margin: 2rem 0;
	}
}
