.landing-card {
	width: 30rem;
	padding: 5rem;
	border-radius: 10px;
	text-align: center;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	/* Add shadow for depth */
	background-color: #fff;
}
